@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   

    /* background color */
    background-color: rgb(22, 26, 30);
    /* height of the page */
    height: 100vh;
    /* font */
    font-family: poppins;
   
}

header {
   /* put the container in the top middle */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color:#FFA400;
    font-family: poppins;

   
}
button {
  /* put this image as a background of the button */
    background-color: #FFA400;
    border: none;
    height: 150px;
    width: 400px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
    margin: 10px;
    
}

.container {
    /* put the container in the top middle */
    height: 100vh;
    width: 100%;
    background-color: rgb(22, 26, 30);;
    font-family: poppins;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px;
    padding: 10px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 30px;
    color: white;
    font-weight: 600;
}






.creer {
    background-color: #FFA400;
    border: none;
    height: 50px;
    width: 150px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
    margin: 10px;
}
button:hover {
    transform: scale(1.1);
}
button:active {
    transform: scale(0.9);
}   
button:focus {
    outline: none;
}
.rap{
    background-image: url("https://img.redbull.com/images/c_crop,w_1200,h_600,x_0,y_0,f_auto,q_auto/c_scale,w_1200/redbullcom/2021/1/12/yvj0nslti1bzocyibfhy/rap-francais-pantheon-rappeurs");
    background-size: cover;
    background-position: 20% 30%;
}
.pop{
    background-image: url("http://store-images.s-microsoft.com/image/apps.37854.13935209865926328.412d2b3e-6876-407b-a53d-e47e3d32537c.1d72c587-5330-4900-ab96-10f2ed727cae");
    background-size: cover;
    background-position: 60% 60%;
}
.mc{
    background-image: url("https://funkypearls.fr/upload/artistes/normal/62760f3c09a0b0.61776481.jpeg");
    background-size: cover;
    background-position: 60% 37%;
}


