@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: rgb(20, 20, 20);
  /* background: linear-gradient(0deg, rgba(15,15,15,1) 0%, rgba(24,24,24,1) 100%); */
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("gradient.svg");
  /* overflow-y: hidden; */
  transition: filter 0.4s ease;
  animation: fade 1s forwards;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  height: 100px;
  /* box-shadow: 0 0 40px 40px rgba(0, 0, 0, 0.2); */
}

.home {
  margin-left: 35px;
  user-select: none;
  cursor: pointer;
}

header a span:nth-child(1) {
  font-size: 35px;
  font-weight: 900;
  color: #ff5f45;
}

header a span:last-child {
  font-size: 25px;
  font-weight: 900;
  color: white;
}

.options {
  display: flex;
  align-items: center;
  height: 50px;
  width: auto;
  color: white;
  user-select: none;
}

.options h2,
#profil,
#deconnexion {
  margin-right: 30px;
}

.options h2 {
  font-size: 18px;
  font-weight: 500;
}

#profil {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: #ff5f45 2px solid;
}

#profil img {
  width: 85%;
  height: 85%;
  object-fit: cover;
}

#deconnexion {
  height: 100%;
  width: auto;
}

#deconnexion img {
  height: 100%;
  width: 100%;
  filter: invert(100%) brightness(200%);
}

.container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: auto;
  width: 100%;
  padding: 0 25px;
}

.info {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  flex-direction: column;
  height: 180px;
  width: 100%;
  color: white;
  padding: 30px 0 30px 0;
  animation: title 1s forwards;
}

.info h3 {
  font-size: 45px;
  font-weight: 900;
}

.info img {
  height: 60px;
  width: 60px;
}

.info2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 450px;
}

.info input {
  height: 40px;
  width: 400px;
  font-size: 20px;
  color: white;
  background-color: #333333;
  border: none;
  border-radius: 10px;
  padding-left: 12px;
  box-shadow: 0 20px 20px 5px rgba(0, 0, 0, 0.1);
  outline: none;
}

#pageCreate {
  color: white;
}

.question {
  display: flex;
  align-items: center;
  height: 60px;
  width: 100%;
  background-color: #333333;
  border-radius: 100px;
  cursor: pointer;
  z-index: 2;
  user-select: none;
}

.question:not(:first-child) {
  margin-top: 18px;
}

.number {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  border: 2px solid white;
  margin-left: 10px;
  margin: 0 10px 0 10px;
}

.question h3 {
  font-size: 16px;
  font-weight: 500;
}

.question input {
  font-size: 16px;
  font-weight: 500;
  color: white;
  width: 500px;
  padding-left: 8px;
  background-color: transparent;
  border: none;
  border-radius: 30px;
  outline: none;
}

.trash {
  display: none;
  width: 30px;
  height: 30px;
  object-fit: cover;
  transition: all 0.5s ease;
  margin: 0 20px 0 auto;
  cursor: pointer;
}

.question:hover .trash {
  display: block;
}

.container-answer {
  width: 100%;
  height: 0;
  background-color: #242424;
  overflow: hidden;
  margin-top: -30px;
  margin-bottom: 48px;
  border-radius: 0 0 25px 25px;
  transition: height 0.5s ease;
}

.answer {
  color: white;
  background: rgb(43, 43, 43);
  background: linear-gradient(
    0deg,
    rgba(43, 43, 43, 1) 0%,
    rgba(51, 51, 51, 1) 100%
  );
  padding: 40px 20px 20px 60px;
  user-select: none;
}

.answer div:not(:last-child) {
  display: flex;
  margin-bottom: 20px;
}

.letter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 35px;
  border-radius: 100%;
  border: 2px solid white;
}

label {
  margin-right: 15px;
}

.container-answer input {
  height: 35px;
  width: 400px;
  font-size: 12px;
  color: white;
  background-color: #242424;
  border: none;
  border-radius: 10px;
  padding-left: 12px;
  box-shadow: 0 20px 20px 5px rgba(0, 0, 0, 0.1);
  outline: none;
}

.check {
  display: flex;
  align-items: center;
  height: auto;
  width: 100%;
}

.check img {
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

#correctAnswer {
  height: 35px;
  width: auto;
  font-size: 12px;
  color: white;
  background-color: #242424;
  border: none;
  border-radius: 10px;
  padding-left: 8px;
  box-shadow: 0 20px 20px 5px rgba(0, 0, 0, 0.1);
  outline: none;
}

.question2 {
  width: 500px;
  padding: 10px;
  cursor: pointer;
  background-color: lightgray;
}

.add {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  font-weight: 300;
  margin-bottom: 18px;
  border: 2px dashed white;
  cursor: pointer;
  user-select: none;
}

#button-submit {
  height: 45px;
  width: 120px;
  font-size: 18px;
  color: white;
  background-color: #fa6031;
  border: none;
  border-radius: 35px;
  float: right;
  cursor: pointer;
}

#settings {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 30px;
  background-color: rgba(141, 141, 141, 0.5);
}

.icons {
  position: absolute;
}

.icons img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform-origin: center;
  animation: move-icon 10s ease-in-out infinite alternate;
}

.icons img:nth-child(1) {
  height: 140px;
  width: 140px;
  top: 0;
  left: 90px;
  rotate: 137deg;
  /* filter: blur(3px); */
}

.icons img:nth-child(2) {
  height: 110px;
  width: 110px;
  top: -135px;
  left: 260px;
  rotate: -171deg;
  /* filter: blur(3px); */
  z-index: -1;
}

.icons img:nth-child(3) {
  height: 150px;
  width: 150px;
  top: 90px;
  left: 470px;
  rotate: -42deg;
  z-index: -1;
}

.icons img:nth-child(4) {
  height: 180px;
  width: 180px;
  top: 500px;
  left: 460px;
  rotate: 147deg;
  /* filter: blur(3px); */
  z-index: -1;
}

.icons img:nth-child(5) {
  height: 200px;
  width: 200px;
  top: 50px;
  left: 440px;
  rotate: 147deg;
  /* filter: blur(3px); */
  z-index: -1;
}

.icons img:nth-child(6) {
  height: 230px;
  width: 230px;
  top: 260px;
  left: 570px;
  rotate: -70deg;
  /* filter: blur(3px); */
  z-index: -1;
}

.icons img:nth-child(7) {
  height: 150px;
  width: 150px;
  top: -200px;
  left: 650px;
  rotate: -90deg;
  /* filter: blur(3px); */
  z-index: -1;
}

.search {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  height: 250px;
  width: 100%;
}

.search h2 {
  color: white;
  font-size: 38px;
  font-weight: 800;
  animation: title 1s forwards;
}

.search-container2 {
  display: flex;
  align-items: center;
  height: 60px;
  width: 1000px;
  border-radius: 10px;
  background-color: white;
  user-select: none;
  box-shadow: 0 20px 20px 5px rgba(0, 0, 0, 0.1);
}

.search-container2 input[type="search"] {
  flex: 1;
  border: none;
  font-size: 20px;
  background-color: white;
}

#search-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: auto;
  padding: 12px 0 12px 12px;
  cursor: pointer;
  border-radius: 10px;
  user-select: none;
}

#search-icon img {
  height: 100%;
  width: 100%;
  /* filter: invert(100%) brightness(200%); */
}

.searchBar {
  width: 300px;
  height: 100%;
  font-size: 28px;
  color: #333333;
  padding: 30px;
  border: none;
  border-radius: 0 10px 10px 0;
  outline: none;
}

.categories {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(4, 220px);
  grid-gap: 20px;
  height: 570px;
  width: 100%;
  /* transform: translateX(-20px); */
  overflow: hidden;
  color: white;
  padding: 25px;
}

.imgCategorie {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f1f1fbe;
  border-radius: 15px;
  cursor: pointer;
  user-select: none;
  padding: 40px 40px 60px 40px;
}

.imgCategorie img {
  height: 100%;
  width: auto;
  object-fit: cover;
  transition: all 0.5s ease;
}

.imgCategorie:hover img {
  transform: scale(0.9);
  rotate: 10deg;
}

.Name {
  position: absolute;
  color: white;
  bottom: 10px;
  left: 20px;
  font-size: 25px;
  font-weight: 500;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  height: 100px;
  width: 100%;
  color: white;
}

footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  list-style: none;
}

footer ul a {
  color: white;
  margin-right: 10px;
}

@keyframes move-icon {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(30px);
    rotate: 1deg;
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes title {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
